**/*.aux
**/*.log
**/*.out
**/*.toc
**/*.lof
**/*.lot
**/*.fls
**/*.fdb_latexmk
**/*.synctex.gz
**/*.bbl
**/*.blg
**/*.nav
**/*.snm
**/*.vrb
**/*.dvi
**/*.ps
**/*.pdf
**/*.gz
**/*.txt

!zadanie-2-krytyka.txt
!zadanie-2-poprawa.txt
!**/main-lluis.pdf
!**/komentarze.txt
!**/stan.txt

