**/*.aux
**/*.log
**/*.out
**/*.toc
**/*.lof
**/*.lot
**/*.fls
**/*.fdb_latexmk
**/*.synctex.gz
**/*.bbl
**/*.blg
**/*.nav
**/*.snm
**/*.vrb
**/*.dvi
**/*.ps
**/*.pdf
**/*.gz
**/*.txt

!**/zadanie*.txt
!**/main-lluis.pdf
!**/komentarze.txt
!**/stan.txt
!**/emails*.txt
